@import 'node_modules/bootstrap/scss/bootstrap';


* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.header img{
    height: 60px; 
}

.menu ul{
    list-style-type: none;
    margin-right: 10px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    margin: 0 35px;
    font-size: 14px;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #1b3c59;
}

.button {
    width: 170px;
    height: 40px;
    background: #61ce4e;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    color: white;
}

.active {
    border-bottom: 1.5px solid green;
    padding-bottom: 5px;    
}

.container {
    display: flex;
    width: 1200px;
    margin-top: 150px;
    color: #1b3c59;
}
.container-left h1 {
    font-size: 60px;
    font-weight: lighter;
}
.container-left h2{
    font-size: 60px;
    font-weight: bold;
}

.container-left h3{
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
}

.title h1{
    font-size: 32px;
    font-weight: bold;
    color: #1b3c59;
    margin-bottom: 50px;
}

.title h3{
    font-size: 18px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 20px;
    color: #1b3c59;
}

.title p{
    font-size: 16px;
    color: #1b3c59;
    margin-bottom: 20px;
}

footer {
    background-color: #1b3c59;
    
}
.footer_head {
    border-bottom: 1px solid white;
    justify-content: space-between;
}

.footer_bottom_icons{
    text-align: center;
    padding: 20px;
}

.footer_bottom_icons i{
 color: white;
 font-size: 35px;
 margin: 0px 35px;
}

.footer_bottom_icons i:hover{
    color: green;
    transition: 0.3s;
}

.footer_bottom_text{
    padding-bottom: 20px;
}

.footer_bottom_text p{
    font: 15px;
    color: white;
    text-align: center;
    line-height: 22px;
}

.footer_head_left, 
.footer_head_right{
    padding-top: 60px;
}

.footer_head_left img{
    width: 30%;
}
.footer_head_left p{
    margin-top: 10px;
    color: white;
    font-size: 15px;
}

.item_link li{
    text-align: right;
    list-style-type: none;
}
.item_link li a{
    color: white;
    font-size: 20px;
}
